.containerSunny {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.white {
  fill: #ffffff;
}
.gray {
  fill: #e0e0e0;
}
.yellow {
  fill: #ffeb3b;
}
